@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-color:#0081bd;
    --primary-color-hover:#009ce4;
    --background-color:#ffffe7;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
    text-decoration: none;
}

body{
    height: 100vh;
    width: 100%;
}

.page{
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.trainPage{
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
}

.page .title{
    font-size: 40px;
    margin-bottom: 15px;
}

.page .buttons{
    display: flex;
    margin-top: 30px;
}

.page .buttons .button, .backButton .button{
    width: 170px;
    border-radius: 20px;
    border: none;
    background-color: var(--primary-color);
    color: white;
    height: 40px;
    cursor: pointer;
    transition: all .2s;
    margin: 0 10px;
}

.page .buttons .button:hover{
    background-color: var(--primary-color-hover);

}

.backButton .button{
    width: 40px;
    border-radius: 50%;
    font-size: 20px;

}

#my_canvas{
    border: 1px solid black;
    background-image: url('assets/bck@2x.png');
    background-size: cover;
    background-position: center;
}

.train{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.train .canvaContent{
    padding: 5px;
    margin: 15px;
    border: 1px solid black;
}

.trainTitle{
    display: flex;
    margin: 20px;
    align-items: center;
}

.trainTitle .title{
    font-size: 30px;
}